body {
  font-size: 16px;
  color: white;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/**Header**/
#header-nav {
	background-color: #f6b319;
	border-radius:0;
	border: 0;
}

.brand-name h1 {
	color: black;
	margin-left: 20px;
	font-weight: bolder;
}

.brand-name a {
	text-decoration: none;
}

h1 {
	font-size: 1.5em
	text-align:center;
}

#nav-list a {
	text-align: center;
	color: black;
	padding: 10px;
	margin: 2px;
	font-weight: bold;
}

#nav-list a:hover {
	background: #61122f;
	color: white;
}

#nav-list a span {
	font-size: 1em
}

button.nav-toggle, .icon-bar {
	border: 1px solid #61122f;
}

.content {
	border:2px solid black;
	border-radius: 2px;
	background-color: grey;
	margin-left:auto;
	margin-right: auto;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	color: black;
	margin-top: 25px;
	}

#menu {
    color: black;
    text-align:center;
    font-weight: bold;
    font-size: 1.5em
}

#link {
	margin: 10px;
	color: white;
	text-decoration: none;
}

#link a:hover {
	color: #f6b319
}
